## Python Built-in Types
https://docs.python.org/3/library/stdtypes.html

### Boolean Operations and None

In [ ]:
t = True
f = False
n = None

print(t, f, n)
print(t and f)
print(t or f)
print(not t)
print(not n)

True False None
False
True
False
True

### Comparisons

In [ ]:
t = True
f = False
n = None

print(1==1)
print(2!=2)
print(1<2)
print(1>=2)

True
False
True
False

In [ ]:
print(None==False)
print(None==0)
print(None is False)
print(None is 0)

False
False
False
False

In [ ]:
# is => object identity
a = 10
print(a, id(a))
b = a
print(b, id(b))

print(a==b) # value
print(a is b) # object

10 94151806221088
10 94151806221088
True
True

In [ ]:
a = 10
b = 10.0
print(a is b)
print(a is not b)

False
True

### Numeric Types
int, float, complex

In [ ]:
i = int(5)
f = float(10.6)
c = complex(1,1)

print(i, f, c)
print(type(i), type(f), type(c))

5 10.6 (1+1j)
<class 'int'> <class 'float'> <class 'complex'>

### Numeric Operations

In [ ]:
print(i+f)
print(i-f)
print(i*f)
print(i/f)

15.6
-5.6
53.0
0.4716981132075472

In [ ]:
print(5/2) # div
print(5//2) # quotient
print(5%2) # remainder

2.5
2
1

In [ ]:
print(abs(-10.6))
print(int(10.6)) # floor

10.6
10

In [ ]:
print(pow(2, 3)) # 2^3
print(2**3) # 2^3

8
8

In [ ]:
i = 10
i = i - 1
print(i)
i -= 1
print(i)
i = i + 1
print(i)
i += 1
print(i)

9
8
9
10

In [ ]:
import math

print(round(10.5)) # not standard rounding
print(math.floor(10.5))
print(math.ceil(10.5))

10
10
11

### Iterator Types

In [ ]:
it = iter([0,1,2,3,4,5,6,7,8,9])

In [ ]:
print(next(it))

0

### Sequence Types
list, tuple, range

In [ ]:
li = list([0,1,2,3,4,5,6,7,8,9]) # mutable sequence
tp = tuple(("spring", 1, True)) # immutable sequence
rg = range(10)

print(li, tp, rg)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] ('spring', 1, True) range(0, 10)

In [ ]:
# length of a sequence
print(len(li), len(tp), len(rg))

10 3 10

In [ ]:
# index of a sequence
print(li[0], tp[1], rg[-1])
print(li[0:3], tp[1:], rg[-1:-3])

0 1 9
[0, 1, 2] (1, True) range(9, 7)

In [ ]:
li.append(10)
print(li)
li.extend([11])
print(li)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
li.remove(10) # remove 1st 10
print(li)

del li[-1]
print(li)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l = [5, 4, 2, 6, 1, 3]
l.sort() # sorts the list in place
print(l)
l.sort(reverse = True)
print(l)

[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

In [ ]:
# tuple has a ugly but effective usage.
# Ex. 1
tup = "tup", 
print(tup)

tup = ()
print(tup, len(tup))

# Ex. 2
tup = (1, "string", [1,2,3])
x, y, z = tup
print(x, y, z)

# Ex. 3: return one object
def f1(x):
    return (x, x+1, x+2)

f2 = lambda x: (x, x+1, x+2)

x, y, z = f1(1)
print(x, y, z)
x, y, z = f2(1)
print(x, y, z)

('tup',)
() 0
1 string [1, 2, 3]
1 2 3
1 2 3

### Text/Binary Sequence Types 
str: a encoded string;
bytes: binary representation of a sequence

In [ ]:
# string and binary
st = "0123"
bi = b"0123"
print(st)
print(bi)

print(st.encode('utf-8'))
print(bi.decode('utf-8'))

print("正體中文".encode('utf-8'))
print("正體中文".encode('big5'))

0123
b'0123'
b'0123'
0123
b'\xe6\xad\xa3\xe9\xab\x94\xe4\xb8\xad\xe6\x96\x87'
b'\xa5\xbf\xc5\xe9\xa4\xa4\xa4\xe5'

In [ ]:
st = "abcdefghijk"

print('a' in st)
print(4 not in li)
print("spring" in tp)
print(5 not in rg)

True
False
True
False

In [ ]:
print("abc" in st)
print([1,2,3] in li)

print(st.startswith("abc"))
print(st.endswith("jkl"))

True
False
True
False

In [ ]:
print(st + "12345")
print(li + list(st))

abcdefghijk12345
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [ ]:
print(st*5)

abcdefghijkabcdefghijkabcdefghijkabcdefghijkabcdefghijk

In [ ]:
print(len(st))
print(st[4])
print(st.index('b'))
print((st*3).count('f'))

11
e
1
3

In [ ]:
# string only: split
s = "this is a book"
tokens = s.split(" ")
print(tokens)

p = "line1\nline2\nline3\n"
lines = p.splitlines()
print(lines)

p = "line1 \n line2 \n line3 \n" # has whitespace
lines = p.splitlines()
for l in lines:
    print(l.strip())

['this', 'is', 'a', 'book']
['line1', 'line2', 'line3']
line1
line2
line3

In [ ]:
# format
# https://docs.python.org/3/library/stdtypes.html#printf-style-string-formatting

coord = (3.1, 5.2)

print("a b c {1} {0}".format("000", "111"))
print("Coordinates: {latitude}, {longitude}".format(latitude='37.24N', longitude='-115.81W'))
print("X: {0[0]};  Y: {0[1]}".format(coord))
print("int: {0:d};  hex: {0:x};  oct: {0:o};  bin: {0:b}".format(42))
print('{:,}'.format(1234567890))
print('Correct answers: {:.2%}'.format(coord[0]/coord[1]))

a b c 111 000
Coordinates: 37.24N, -115.81W
X: 3.1;  Y: 5.2
int: 42;  hex: 2a;  oct: 52;  bin: 101010
1,234,567,890
Correct answers: 59.62%

In [ ]:
print('{:<30}'.format('left aligned'))
print('{:>30}'.format('right aligned'))
print('{:^30}'.format('centered'))
print('{:*^30}'.format('centered'))

left aligned
                 right aligned
           centered
***********centered***********

In [ ]:
octets = [192, 168, 0, 1]
print('{:02X}{:02X}{:02X}{:02X}'.format(*octets))

C0A80001

In [ ]:
# reference and copy

li = [1,2,3]
print(li*3)
lists = [[0]*3]*3
print(lists)
lists[1][1]=1
print(lists)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[[0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[0, 1, 0], [0, 1, 0], [0, 1, 0]]

In [ ]:
a = [1, 2, 3]
b = a
print(b)
b[0] = 2
print(a) # b = a is a refernce copy, i.e., a is b

[1, 2, 3]
[2, 2, 3]

In [ ]:
a = [1, 2, 3]
b = a[:] # it is a deep copy, i.e., a is not b
b[0] = 2
print(a)
print(b)

[1, 2, 3]
[2, 2, 3]

In [ ]:
matrix  = [[0 for x in range(3)] for x in range(3)]
print(matrix)
matrix[1][2] = 1
print(matrix)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[0, 0, 0], [0, 0, 1], [0, 0, 0]]

In [ ]:
a = [1, 2, 3, 4]

# what if I need [2, 4, 6, 8]
b1 = [a*2] #?
b2 = [i*2 for i in a] #?
b3 = map(lambda x: x*2, a) #?

print(b1)
print(b2)
print(list(b3))

[[1, 2, 3, 4, 1, 2, 3, 4]]
[2, 4, 6, 8]
[2, 4, 6, 8]

### Set Types
set: mutable; frozenset: immutable

In [ ]:
s = set()
s.add("this")
print(s)
s.add("is")
s.add("a")
s.add("book")
print(s)
print(len(s))
item = s.pop()
print(item, s, len(s))
s.discard("a")
print(s)
s.clear()
print(s)

{'this'}
{'a', 'book', 'is', 'this'}
4
a {'book', 'is', 'this'} 3
{'book', 'is', 'this'}
set()

In [ ]:
s = set(range(10))
print(s)
print(5 in s)

s.add(5)
print(s)
print(5 in s)

s.remove(5)
print(s)
print(5 not in s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
True
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
True
{0, 1, 2, 3, 4, 6, 7, 8, 9}
True

In [ ]:
s = {1, 2, 2, 3, 4, 5, 6}
print(s)

{1, 2, 3, 4, 5, 6}

In [ ]:
# set has no index
#print(s[0])

In [ ]:
s = {1, 2, 3, 4, 5, 6}
t = {4, 5, 6, 7, 8, 9}

a = t | s # union
b = t & s # intersection
c = t - s # difference
d = t ^ s # xor

print(a)
print(b)
print(c)
print(d)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{8, 9, 7}
{1, 2, 3, 7, 8, 9}

In [ ]:
s1 = set([1,2,3,4,5,6])
s2 = set([5,6,7,8,9,10])

print(s1)
print(s2)

inter = s1.intersection(s2)
union = s1.union(s2)

print(inter)
print(union)

print("Jaccard simialarity = ", float(len(inter))/float(len(union)))

{1, 2, 3, 4, 5, 6}
{5, 6, 7, 8, 9, 10}
{5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Jaccard simialarity =  0.2

### Mapping Types
dict

In [ ]:
a = dict(one=1, two=2, three=3)
b = {'one': 1, 'two': 2, 'three': 3} # most often
c = dict(zip(['one', 'two', 'three'], [1, 2, 3]))
d = dict([('two', 2), ('one', 1), ('three', 3)])
e = dict({'three': 3, 'one': 1, 'two': 2})
print(a)
print(a == b == c == d == e)

{'one': 1, 'two': 2, 'three': 3}
True

In [ ]:
dic = {1: "john", 12: "joe", 34: "george"}

In [ ]:
print(len(d))
print(d['one'])
#print(d[0]) # dictionary has no index

3
1

In [ ]:
d = {'one': 1, 'two': 2, 'three': 3}
d['four'] = 4 # add by key and value
print(d)
del d['two'] # use key to delete
print(d)
print('one' in d) # search by key
print(d.keys())
print(d.values())

{'one': 1, 'two': 2, 'three': 3, 'four': 4}
{'one': 1, 'three': 3, 'four': 4}
True
dict_keys(['one', 'three', 'four'])
dict_values([1, 3, 4])

In [ ]:
b = {'one': 1, 'two': 2, 'three': 3}

for key, value in b.items():
    print(key, value)

one 1
two 2
three 3

In [ ]:
print(b.keys())
print(b.values())

dict_keys(['one', 'two', 'three'])
dict_values([1, 2, 3])

In [ ]:
for k in b:
    print(k, b[k])

one 1
two 2
three 3

In [ ]:
for v in b.values():
    print(v)

1
2
3

### Customized Complex Types

In [ ]:
my_dict = {'apple': 1, 'orange': [1, 2, 3, 4], 'egg': "ugly", 'log': (12.3, 4.56)}
my_list = [[1,2,3], (4,5,6), "strstr", my_dict]

print(my_list)

[[1, 2, 3], (4, 5, 6), 'strstr', {'apple': 1, 'orange': [1, 2, 3, 4], 'egg': 'ugly', 'log': (12.3, 4.56)}]

### List Comprehensions

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
squares = []
for x in range(10):
    squares.append(x**2)
    
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
squares = list(map(lambda x: x**2, range(10)))
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [ ]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))

print(combs)

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [ ]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

comprehensions

In [ ]:
vec = [-4, -2, 0, 2, 4]
print([x*2 for x in vec])
print([x for x in vec if x >= 0])
print([abs(x) for x in vec])

[-8, -4, 0, 4, 8]
[0, 2, 4]
[4, 2, 0, 2, 4]

In [ ]:
vec = [[1,2,3], [4,5,6], [7,8,9]]
print([num for elem in vec for num in elem])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
from math import pi
print([str(round(pi, i)) for i in range(1, 6)])

['3.1', '3.14', '3.142', '3.1416', '3.14159']

### set comprehensions

In [ ]:
print({x for x in 'abracadabra' if x not in 'abc'})

{'r', 'd'}

### dict comprehensions

In [ ]:
print({x: x**2 for x in (2, 4, 6)})

{2: 4, 4: 16, 6: 36}

### Nested List Comprehensions

In [ ]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

In [ ]:
transposed = []
for i in range(4):
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)
    
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [ ]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])

print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [ ]:
print([[row[i] for row in matrix] for i in range(4)])

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [ ]:
# In the real world, you should prefer built-in functions to complex flow statements.

print(list(zip(*matrix)))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

### Do not change a list while you are looping over it

In [ ]:
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)
        
print(filtered_data)

[56.2, 51.7, 55.3, 52.5, 47.8]

### Fun and useless

In [ ]:
print((1, 2, 3) < (1, 2, 4))
print([1, 2, 3] < [1, 2, 4])
print('ABC' < 'C' < 'Pascal' < 'Python')
print((1, 2, 3, 4) < (1, 2, 4))
print((1, 2) < (1, 2, -1))
print((1, 2, 3) == (1.0, 2.0, 3.0))
print((1, 2, ('aa', 'ab')) < (1, 2, ('abc', 'a'), 4))

True
True
True
True
True
True
True